<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Template :: head">
    <meta charset="UTF-8">
    <title>T</title>
</head>
<body>
<header th:replace="Template :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Registrar Nuevo Platillo</h2>
            <form id="platilloForm" enctype="multipart/form-data">
                <div class="mb-3 mt-3">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
                </div>
                <div class="mb-3 mt-3">
                    <label for="precio">Precio:</label>
                    <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                </div>
                <div class="mb-3 mt-3">
                    <label for="imagen">Imagen:</label>
                    <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" >
                </div>
                <button type="button" class="btn btn-primary" onclick="guardarPlatillo()">Guardar Platillo</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    function guardarPlatillo() {
        const nombre = document.getElementById("nombre").value;
        const descripcion = document.getElementById("descripcion").value;
        const precio = document.getElementById("precio").value;

        // Crear el objeto platillo
        var platillo = {
            nombre: nombre,
            descripcion: descripcion,
            precio: precio
        };

        // Configurar la URL de la API
        var apiUrl = "/guardar-platillo";

        // Configurar la solicitud
        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(platillo)
        };

        // Realizar la solicitud POST
        fetch(apiUrl, requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Error HTTP! Estado: ${response.status}`);
                }
                return response.json();
            })
            .then(platilloGuardado => {
                console.log('Éxito:', platilloGuardado);
                alert("Platillo guardado exitosamente");
                window.location.href = "/menu";
            })
            .catch(error => {
                console.error('Error:', error);
                alert("Hubo un error al guardar el platillo");
            });
    }
</script>
</html>